@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
.nav-bar {
  position: fixed;
  width: 100%;
  padding: 1rem;
}
.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .container .logo img {
  height: 60px;
}
.nav-bar .container nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-bar .container nav .menu-link {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
  color: #fff;
  line-height: 0;
  height: 100%;
}
.nav-bar .container nav .link-active {
  border-bottom: 1px solid #fff;
}
.first {
  background: url("../img/bg.gif") no-repeat;
  background-color: #000;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
.first .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.first .container .left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 100%;
}
.first .container .left .laptop {
  background-size: cover;
  width: 900px;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.first .container .left .laptop img {
  width: 100%;
  position: absolute;
}
.first .container .left .laptop h2 {
  width: 70%;
  max-width: 720px;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
  line-height: 3.5rem;
  background-image: linear-gradient(to right top, #ff9200, #ffa841, #ffbd6c, #ffd195, #ffe4c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}
.first .container .left .laptop p {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  z-index: 10;
}
.first .container .left .laptop button {
  background-image: linear-gradient(to left, #ffa841, #ffa841, #ffa841, #ffa841, #ffa841, #fff, #fff, #ffa841, #ffa841, #ffa841, #ffa841, #ffa841);
  box-shadow: 0px -3px 40px 1px rgba(0,0,0,0.75);
  background-size: 1000%;
  background-position: right;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  margin: 10px 0;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  transition: 1s;
  margin-top: 20px;
  border: none;
  z-index: 10;
}
.first .container .left .laptop button:hover {
  background-position: left;
}
.first .container .left .laptop .arrow {
  z-index: 10;
  color: #fff;
  font-size: 2rem;
  position: relative;
  top: -58px;
  left: 150px;
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes arrow {
  0% {
    left: 150px;
  }
  50% {
    left: 170px;
  }
  100% {
    left: 150px;
  }
}
.first .container .right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  margin-left: 1rem;
}
.first .container .right .count {
  position: absolute;
  top: -170px;
  text-align: left;
  background: rgba(0,0,0,0.129);
  padding: 1rem;
}
.first .container .right .count h2 {
  color: #ffa500;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
}
.first .container .right .count p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.first .container .right .form-wrap {
  width: 380px;
  height: 445px;
  background: #fff;
}
.first .container .right .form-wrap h2 {
  text-align: center;
  background: #ffa500;
  padding: 2rem;
  color: #fff;
}
.first .container .right .form-wrap form {
  background-size: cover;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first .container .right .form-wrap form .input-wrap {
  width: 100%;
}
.first .container .right .form-wrap form .input-wrap input {
  width: 100%;
  padding: 0.6rem;
  margin: 1rem 0;
}
.first .container .right .form-wrap form button {
  margin-top: 10px;
  padding: 1rem 4rem;
  background: #ffa500;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.second {
  width: 100%;
  height: 100vh;
}
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 11;
}
.loader .bitcoin {
  width: 500px;
  height: 500px;
  background: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .bitcoin .block1,
.loader .bitcoin .block2,
.loader .bitcoin .block3,
.loader .bitcoin .block4 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .bitcoin .block1 {
  z-index: 10;
}
.loader .bitcoin .block1 img {
  width: 140px;
  border-radius: 50%;
  box-shadow: 0px 0px 51px 2px rgba(0,0,0,0.75);
  overflow: hidden;
  animation-name: bitcoin;
  animation-duration: 150s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-moz-keyframes bitcoin {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(1080deg);
  }
  100% {
    transform: rotateZ(3060deg);
  }
}
@-webkit-keyframes bitcoin {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(1080deg);
  }
  100% {
    transform: rotateZ(3060deg);
  }
}
@-o-keyframes bitcoin {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(1080deg);
  }
  100% {
    transform: rotateZ(3060deg);
  }
}
@keyframes bitcoin {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(1080deg);
  }
  100% {
    transform: rotateZ(3060deg);
  }
}
.loader .bitcoin .block4 {
  z-index: 7;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden;
}
.loader .bitcoin .block4 img {
  width: 200px;
  animation-name: bitcoin4;
  animation-duration: 5.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-moz-keyframes bitcoin4 {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@-webkit-keyframes bitcoin4 {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@-o-keyframes bitcoin4 {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@keyframes bitcoin4 {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
