<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js", defer)
        script(src="js/simpleParallax.min.js")
        script(src="js/main.js", defer)
    body
        .loader
              .bitcoin
                .block1
                    img(src="img/bitcoin1.jpg", alt="")
                .block4
                    img(src="img/images.jpeg", alt="")
        section.nav-bar
            .container
                .logo
                    img(src="img/logo.png", alt="")
                nav
                    .menu-link menu
                    .menu-link about
                    .menu-link steps
                    .menu-link sing-in
                    .menu-link footer
        section.first
            .container
                .left
                    .laptop
                        img(src="img/laptop.png", alt="")
                        h2 BITCOIN IS MAKING PEOPLE RICH
                        p And you can Become The Next Millionaire...
                        button start now
                        .arrow
                            i(class="fas fa-angle-double-left")
                .right
                    .form-wrap
                        h2 CHANGE YOUR LIFE TODAY!
                        form(action="")
                            .input-wrap
                                input(type="text", placeholder="First name")
                            .input-wrap
                                input(type="text", placeholder="Last name")
                            .input-wrap
                                input(type="emeil",placeholder="Emeil")
                            button 
                                i(class="fas fa-sign-in-alt")
                                |&nbsp;give me access now
            .count
                h2
                    i(class="fas fa-exclamation-triangle")
                    |	&nbsp;warning!
                p Due to extremely high media demand, we will close registration as of
                p
                    span.data
                    |  -HURRY!
                    span.counter
            .container.secure-wrap
                .secure
                    .block
                        img(src="img/bitgo.png", alt="")
                    .block
                        img(src="img/norton.png", alt="")
                    .block
                        img(src="img/secure-trading.png", alt="")
                    .block
                        img(src="img/mcafee.png", alt="")
                .bidask
                    .block
                        span Bid 3864.00$
                    .block
                        span Ask 3861.70$
        //- .people-wrap
        section.second
            img(src="img/bg3.jpg", alt="" class="thumbnail")
            .container
                h2 Join Us and Start Getting Rich 
                    | with Bitcoin Revolution!
                p The Bitcoin Revolution is a group 
                    |reserved exclusively to people who 
                    |jumped on the insane returns that 
                    |Bitcoin offers and have quietly amassed 
                    |a fortune in doing so. Our members enjoy 
                    |retreats around the world every month while 
                    |they make money on their laptop with just a 
                    |few minutes of “work” every day.
        section.third
