<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js", defer)
        script(src="js/main.js", defer)
    body
        .loader
              .bitcoin
                .block1
                    img(src="https://i.ibb.co/vQGV7G5/bitcoin1.jpg", alt="")
                .block4
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStDDhqGD4J6acDA_7mkffA9SLyWONLjQ5MS3cM_QJSqbnLkUH3Mw", alt="")
        section.nav-bar
            .container
                .logo
                    img(src="img/logo.png", alt="")
                nav
                    .menu-link menu
                    .menu-link about
                    .menu-link steps
                    .menu-link sing-in
                    .menu-link footer
        section.first
            .container
                .left
                    .laptop
                        img(src="img/laptop.png", alt="")
                        h2 BITCOIN IS MAKING PEOPLE RICH
                        p And you can Become The Next Millionaire...
                        button start now
                        .arrow
                            i(class="fas fa-angle-double-left")
                            
                .right
                    .form-wrap
                        h2 CHANGE YOUR LIFE TODAY!
                        form(action="")
                            .input-wrap
                                input(type="text", placeholder="First name")
                            .input-wrap
                                input(type="text", placeholder="Last name")
                            .input-wrap
                                input(type="emeil",placeholder="Emeil")
                            button give me access now

        section.second
