@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed')
*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Roboto Condensed', sans-serif
.nav-bar
    // background: #00000050
    position: fixed
    width: 100%
    padding: 1rem
    .container
        display: flex
        justify-content: space-between
        align-items: center
        .logo
            img
                height: 60px
        nav
            display: flex
            align-items: center
            height 100%
            .menu-link
                font-size: 1.3rem
                display: flex
                align-items: center
                padding: 1rem
                text-transform: uppercase
                color: #ffffff
                line-height: 0
                height 100%
            .link-active
                border-bottom: 1px solid white
.first
    background: url(../img/bg1.jpg) no-repeat
    background-color: #000000
    background-size: cover
    background-position: center center
    width: 100%
    height 100vh
    .container
        display: flex
        align-items: center
        height: 100%
        .left
            position: relative
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 700px
            height: 100%
            .laptop
                background-size: cover
                width: 900px
                height 500px
                overflow: hidden
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                text-align: center
                img
                    width: 100%
                    position: absolute
                h2
                    width: 70%
                    max-width: 720px
                    text-transform: uppercase
                    text-align: center
                    font-size: 3.5rem
                    line-height: 3.5rem
                    background-image: linear-gradient(to right top, #ff9200, #ffa841, #ffbd6c, #ffd195, #ffe4c0)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
                    z-index: 10
                p   
                    width: 100%
                    text-align: center
                    font-size: 1.5rem
                    color: #ffffff
                    z-index: 10
                button
                        background-image: linear-gradient(to left, #ffa841, #ffa841, #ffa841, #ffa841, #ffa841, #fff, #fff, #ffa841, #ffa841, #ffa841, #ffa841, #ffa841);
                        box-shadow: 0px -3px 40px 1px rgba(0,0,0,0.75)
                        background-size:1000%
                        background-position:right
                        border-radius:5px
                        display: flex
                        justify-content: center
                        align-items:center
                        width:250px
                        height:50px
                        margin:10px 0
                        cursor: pointer
                        color:#fff
                        text-transform:uppercase
                        font-size:1.5rem
                        font-weight:400
                        transition: 1s
                        margin-top: 20px
                        border: none
                        z-index 10
                        &:hover
                            background-position: left
                .arrow
                    z-index 10
                    color: #ffffff
                    font-size: 2rem
                    position: relative
                    top: -58px
                    left:150px
                    animation-name: arrow
                    animation-duration: 1s
                    animation-iteration-count: infinite
                    @-webkit-keyframes arrow
                        0%   {left:150px}
                        50%   {left:170px}
                        100% {left: 150px}
        .right
            position relative
            display: flex
            align-items: center
            justify-content: center;
            width: 380px
            // height: 100%
            margin-left: 1rem
            .count
                position: absolute
                top: -160px
                text-align: left
                background: #00000021
                padding: 0.1rem;
                h2
                 color: orange
                 font-size: 2rem
                 text-transform: uppercase
                 line-height: 2rem;
                p
                 color: #fff
                 font-size: 1.2rem
                 line-height: 1.4rem
                 .counter
                     font-size: 2rem
                     color: orange
                     animation-name: counter
                     animation-duration: 1s;
                     animation-timing-function: linear;
                     animation-iteration-count: infinite;
                     @keyframes counter
                         0% {font-size: 1rem;font-weight: 300;}
                         50% {font-size: 1.2rem;font-weight: 500;}
                         100% {font-size: 1rem;font-weight: 300;}
            .form-wrap
                width: 380px
                height: 445px
                background: #ffffff
                h2
                    text-align: center
                    background: orange
                    padding: 2rem
                    color: #ffffff
                form
                    // background: url(../form.png) center center
                    background-size: cover
                    width: 100%
                    padding: 1rem
                    display: flex
                    flex-direction: column
                    align-items: center
                    .input-wrap
                        width: 100%
                        input
                            width: 100%
                            padding: 0.6rem
                            margin: 1rem 0
                    button
                        margin-top:10px
                        padding: 1rem 4rem
                        background: orange
                        border: none
                        border-radius: 5px
                        color: #ffffff
                        text-transform: uppercase
                        font-size: 1.5rem
                        box-shadow: 0px -2px 16px 1px rgba(0,0,0,0.75)
.second
    width: 100%
    height: 100vh
.loader
    position: fixed
    top: 0
    bottom: 0
    right 0
    left: 0
    display flex
    justify-content center
    align-items center
    background #000000
    z-index 11
    .bitcoin
        width 500px
        height 500px
        background #000000
        position relative
        display flex
        justify-content center
        align-items center
        .block1,.block2,.block3,.block4
            position absolute
            display flex
            justify-content center
            align-items center
        .block1
            z-index 10
            img
                width 140px
                border-radius 50%
                box-shadow: 0px 0px 51px 2px rgba(0,0,0,0.75);
                overflow hidden
                animation-name bitcoin
                animation-duration 150s
                animation-iteration-count infinite
                animation-timing-function linear
                @keyframes bitcoin
                    0%   {transform:rotateZ(0deg)}
                    50%   {transform:rotateZ(1080deg)}
                    100% {transform:rotateZ(3060deg)}
        .block4
            z-index 7
            width 190px
            height 190px
            border-radius 50%
            overflow hidden
            img
                width 200px
                animation-name bitcoin4
                animation-duration 5.1s
                animation-iteration-count infinite
                animation-timing-function linear
                @keyframes bitcoin4
                    0%   {transform:rotateZ(0deg)}
                    50%   {transform:rotateZ(-180deg)}
                    100% {transform:rotateZ(-360deg)}
        
        