@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed')
*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Roboto Condensed', sans-serif
.nav-bar
    // background: #00000050
    position: fixed
    width: 100%
    padding: 1rem
    .container
        display: flex
        justify-content: space-between
        align-items: center
        .logo
            img
                height: 60px
        nav
            display: flex
            align-items: center
            height 100%
            .menu-link
                font-size: 1.3rem
                display: flex
                align-items: center
                padding: 1rem
                text-transform: uppercase
                color: #ffffff
                line-height: 0
                height 100%
            .link-active
                border-bottom: 1px solid white
.first
    background: url(../img/bg.gif) no-repeat
    background-color: #000000
    background-size: cover
    background-position: center center
    width: 100%
    height 100vh
    .container
        display: flex
        align-items: center
        height: 100%
        .left
            position: relative
            display: flex
            align-items: center
            width: 700px
            height: 100%
            .laptop
                background-size: cover
                width: 900px
                height 100%
                overflow: hidden
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                text-align: center
                img
                    width: 100%
                    position: absolute
                h2
                    width: 90%
                    max-width: 720px
                    text-transform: uppercase
                    text-align: center
                    font-size: 3.5rem
                    line-height: 3.5rem
                    background-image: linear-gradient(to right top, #ff9200, #ffa841, #ffbd6c, #ffd195, #ffe4c0)
                    -webkit-background-clip: text
                    -webkit-text-fill-color: transparent
                    z-index: 10
                p   
                    width: 100%
                    text-align: center
                    font-size: 1.5rem
                    color: #ffffff
                    z-index: 10
                button
                        background-image: linear-gradient(to left, #ffa841, #ffa841, #ffa841, #ffa841, #ffa841, #fff, #fff, #ffa841, #ffa841, #ffa841, #ffa841, #ffa841);
                        box-shadow: 0px -3px 40px 1px rgba(0,0,0,0.75)
                        background-size:1000%
                        background-position:right
                        border-radius:5px
                        display: flex
                        justify-content: center
                        align-items:center
                        width:250px
                        height:50px
                        margin:10px 0
                        cursor: pointer
                        color:#fff
                        text-transform:uppercase
                        font-size:1.5rem
                        font-weight:400
                        transition: 1s
                        margin-top: 20px
                        border: none
                        z-index 10
                        &:hover
                            background-position: left
                .arrow
                    z-index 10
                    color: #ffffff
                    font-size: 2rem
                    position: relative
                    top: -58px
                    left:150px
                    animation-name: arrow
                    animation-duration: 1s
                    animation-iteration-count: infinite
                    @-webkit-keyframes arrow
                        0%   {left:150px}
                        50%   {left:170px}
                        100% {left: 150px}
        .right
            display: flex
            align-items: center
            justify-content: center;
            width: 380px
            height: 100%
            margin-left: 1rem
            .form-wrap
                width: 380px
                height: 445px
                background: #ffffff
                h2
                    text-align: center
                    background: orange
                    padding: 2rem
                    color: #ffffff
                form
                    // background: url(../form.png) center center
                    background-size: cover
                    width: 100%
                    padding: 1rem
                    display: flex
                    flex-direction: column
                    align-items: center
                    .input-wrap
                        width: 100%
                        input
                            width: 100%
                            padding: 0.6rem
                            margin: 1rem 0
                    button
                        margin-top:10px
                        padding: 1rem 4rem
                        background: orange
                        border: none
                        border-radius: 5px
                        color: #ffffff
                        text-transform: uppercase
                        font-size: 1.5rem
.second
    width: 100%
    height: 100vh